<!doctype html> 
<html lang="fr-FR">
  <head>
  	<meta charset="utf-8">
		<meta name="description" content="Page d'accueil du Parking M2L"> 
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" href="../../assets/stylesheets/basic.css"> 
    <link rel="stylesheet" href="../../assets/stylesheets/style.css">
    <script src="../../assets/javascripts/datepicker.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 

    <script>
      $(document).ready(function() {
          return $("#datepicker").datepicker();
      }); 
    </script>
  </head>
  <body>
  	<h5>Place Actuel</h5>
  	
  </body>
</html>