<table> 
  <caption><h2 class="title">Liste d'attente</h2></caption>
  <thead>
	<tr>
	  <th>Position</th> 
	  <th>Utilisateur</th> 
    </tr>
  </thead>
  <tbody>
  <% @listeattente.each do |l| %>
	<tr>
	  <td><%= text_field_tag :posistion, nil, placeholder: l.numPosition %></td>
	  <td><%= l.utilisateur.username %></td> 
	</tr>
	<% end %>
  </tbody>
</table>