<table> 
  <caption><h2 class="title">Utilisateurs</h2></caption>
  <thead>
	<tr>
	  <th>Utilisateur</th> 
	  <th>Ligue</th> 
	  <th>Editer</th>
	  <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <% @utilisateur.each do |u| %> 
	  <tr>
	    <td><p><%= u %></p></td>
	    <td><p><%= u.ligue.libel %></p></td> 
	    <td><%= link_to "Editer", edit_utilisateur_path(u.id) %></td>
	    <td><%= link_to "Supprimer", utilisateur_path(u.id), method: 'delete' %></td>
	  </tr>
    <% end %>
  </tbody>
</table>