<div id="wrapedit">
  <div id="leftTop">
    <p><%= render 'listeattente' %></p>
  </div>

  <div id="leftMid">
    <p><%= render 'utilisateur' %></p>
  </div>
       
  <div id="rightTop"> 
    <p><%= render 'placeparking' %></p>
  </div>

  <div id="rightMid">
    <p><%= render 'duration' %></p>
  </div>
</div>