/* GENERAL */
html 
{
	box-sizing: border-box;
	height: 100%;
	position: relative; 
	text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body
{
	padding:0; 
	padding-bottom: 1rem;
	margin:1rem;
	background-color: #8AACB8; 
	font-family: Arcon, Asap,Helvetica, Arial, sans-serif; 
	font-size: 1rem; 
} 

p, td 
{
	text-align: justify;
}

a 
{
	text-decoration : none;
}

h2, div, th 
{
	text-align: center;
} 

label 
{
	overflow: auto; 
} 

table, table tr 
{
	display: table-row;
}

table 
{
	border: .2em solid #ffffff;
	background: #effdfd;
	padding: 1em;
	border-collapse: collapse; 
	border-radius: .3rem; 
	overflow: scroll;
	display: table;
    width: 100%;
} 

tr:nth-child(even) 
{
	background-color: #cdebf9;
}

tr:hover 
{
	background-color: #abf5f5
}

td 
{
	padding: 1em;	
}

th 
{
	background: #D3D3D3; 
	color: #000000; 
	padding: 1em; 
} 

table thead, table tbody {
    float: left;
    width: 100%;
}
table tbody {
    overflow: auto;
    height: 175px;
}
table tr {
    width: 100%;
    display: table;
    text-align: left;
}
table th, table td {
    width: 33%;
}

/* SPECIFIC REUSABLE STUFF */
#user 
{
	padding: .5rem;
	display: inline-block; 
	float: right; 
	position: relative; 
	height: 15rem; 
	width: 15rem;
}

#user p, .title 
{
	text-align: center;
}

#logo 
{
	height: 6rem; 
	width: 6rem; 
	background-image: url('logo.gif');
	background-repeat: no-repeat;
	background-size: 100%;
} 
