/*#formLogin 
{
	margin:0 auto;
	width: 33%;
	padding: 1em;
	border: 1px solid #D3D3D3; 
	border-radius: .25rem;
}*/ 

#mdp label, #mdp label input
{
	width: 13rem;
} 

#adresse label, #adresse label input 
{
	width: 8.88rem;
} 

#adresse label[for="rue"] input
{
	width: 18rem;
} 

#mail label, #mail label input 
{
	width: 15rem;
} 

/* tout pour le wrap 
/* pour aligner les forms contenus dans des div 
/* pour center les boutons */

#wrapedit 
{
	margin: 0 auto;
	padding: 1rem;
	width: auto;
	position: relative;
	overflow: auto; 
	/*float: left; */
	display: inline-block; 
	/*width: 100%; 
	height: 100%;*/	
} 
#wrapedit div, #wrapedit div form, #wrapededit div p 
{
	float: left;
}

#wrapededit div 
{ 
	width: auto; 
	position: relative; 
	border: 0; 
	display: inline; 
	font-family: Helvetica, Arial, sans-serif; 
} 

#wrapedit div form 
{
	margin: 1rem; 
	padding: 1rem;
	display: inline; 
	z-index : 1; /*placement avant*/ 
	background: #8AACB8;  
	border: solid .05rem #ffffff; 
	border-radius: .3rem; 
} 

#wrapedit h4, #wrapedit div form 
{
	text-align: center;
}

#wrapedit button 
{
	margin: 0 auto;
} 

#leftTop, #leftMid, #rightTop, #rightMid
{
	margin: 1rem; 
	padding: 1rem;
	height: 25%;
	width: 45%; 
	position: relative; 
	border: solid .05rem #ffffff; 
	border-radius: .3rem; 
	display: block; 
	overflow: auto;
	float: left;
}

#wrapededit div p 
{
	position: relative; 
	text-align: justify; 
}