<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a demandé Un lien pour changer votre mot de passe. Vous pouvez le faire avec le lien ci dessous.</p>

<p><%= link_to 'Chager mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous ne l'avez pas demandé, veuilllez ignorer cet email.</p>
<p>Votre mot de passe ne sera pas modifié tant que n'aurez pas cliqué sur le lien et changé de mot de passe.</p>
